# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/frontend/node_modules
/frontend/public/stockfish-nnue-16.wasm
/frontend/public/stockfish-nnue-16.js
/frontend/public/nn-5af11540bbfe.nnue
/.pnp
.pnp.js

# testing
/coverage

# production
/frontend/dist

# misc
/backend/.env
/backend/stockfish
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
