<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>
<body>
  {% if user.is_authenticated %}
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>
  <div class="content">
    <p>
      <h1>Hi {{ user.username }}!</h1>
    </p>
    <p>
    Type the names of the players below
    </p>
    <form action="gallery/" method="get">
      {% csrf_token %}
      <p>
      <input type="text" value="Player 1 Name" name="player1">
      <input type="text" value="Player 2 Name" name="player2">
      </p>
      <button style="width: 200px; height: 50px;" type="submit">Submit</button>
    </form>
  </div>
  {% else %}
    <p><h1>You are not logged in</h1></p>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <button type="submit">Log In</button>
    </form>
    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}
      <button type="submit">Sign Up</button>
    </form>
  {% endif %}
</body>