#chessboard {
    border-collapse: collapse;
    width: 400px; /* Adjust the size as needed */
}

.square {
    width: 50px;
    height: 50px;
    text-align: center;
}

.white {
    background-color: #eee;
}

.black {
    background-color: #888;
}
.piece-image {
    width: 100%; /* Make the image fill the square */
    height: 100%;
}