{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Game Gallery</title>
  <link rel="stylesheet" href="{% static 'gallery/css/style.css' %}">
</head>
<body>
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>
  <h2>Games between Player 1 and Player 2</h2>

  <div id="game-gallery">
  </div>

  <script>const gamesData = JSON.parse('{{ games|escapejs }}')</script>
  <script src="{% static 'gallery/js/script.js' %}"></script>
  
</body>
</html>