{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Chessboard</title>
    <link rel="stylesheet" href="{% static 'view_game/css/style.css' %}">
</head>
<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>
<body>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    <div class="content">
    <h3><p id="Name"></p></h3>
    <p id="Result"></p>
    <script> const game_name = '{{ name }}';</script>
    <script> const result = '{{result}}';</script>
    <p>
    <table id="chessboard"></table>
    </p>
    <script> var imageSRC = "{% static 'view_game/img' %}";</script>
    <script> const fen_list = JSON.parse('{{ fen_list|escapejs}}');</script>
    <button style="width: 200px; height: 50px;" id="Prev">Prev</button>
    <button style="width: 200px; height: 50px;" id="Next">Next</button>
    <script src="{% static 'view_game/js/script.js' %}"></script>
    </div>
</body>
</html>
